*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 1180px;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    display: flex;
}
.name img{
    width: 46px;
    height: 26px;
    text-align: center;
    margin-left: 50px;
    margin-top: 3px;
}
.name h3{
    font-weight: bolder;
    padding-left: 5px;
}
.choose{
    display: flex;
    justify-content:space-between;
    align-items: center; 
}

.choose p{
    margin: 40px;
    font-weight: bold;
}

.icon{
    margin-right: 70px;
}
.icon i{
    padding: 20px;
    font-size: x-large;
    font-weight: bolder;
}
.header{
    background-image: url(./img/a11f805aade2224f1d6658764a2395df.jpg);
    background-position: center;
    background-size: cover;
    width: 1180px;
    height: 710px;
    display: flex;
    flex-wrap: wrap;
}
.header-content{
    background-color: blanchedalmond;
    width: 500px;
    hei
}